@charset "UTF-8";
//=====================================================================
//底部样式
//=====================================================================
footer .container{
    color:#2C480E;
    background-color: #7b96b1;
    padding: 1rem;
}
