@charset "UTF-8";
//=====================================================================
//底部样式
//=====================================================================
footer .container{
    color:#2C480E;
    background-color: #7b96b1;
    padding: 1rem;
}
footer .footer-exp a {
    color: rgba(255,255,255,0.9);
    text-decoration: underline;
}

footer .footer-exp a:hover { text-decoration: none; }
