@charset "UTF-8";
//=====================================================================
//移动端优先的栅格
//=====================================================================
.row{
    @include clearfix();
}

.column { margin-bottom: 1rem; }

@media (min-width: 40rem) {
    .row{
        margin-left: -.5rem;
        margin-right: -.5rem;
    }
    .column {
        float: left;
        margin: 0;
        padding-left: .5rem;
        padding-right: .5rem;
        position: relative;
        min-height: 1px;
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}
