@charset "UTF-8";
//=====================================================================
//整体盒子布局，字体设置
//=====================================================================

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font: 100%/1.5 "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 40rem) {
    html { font-size: 75%;}
    body{font-size:100%;}
}

@media (min-width: 64rem) {
    html { font-size: 100%; }
    body{font-size:87.5%;}
}

body {
    background-color: #f5f8fa;
    color: #555;
    // font-size: 14px;
}
.container {
    margin: 0 auto;
    max-width: 53rem;
    width: 96%;
    position: relative;
}
