@charset "UTF-8";
//=====================================================================
//newsletter的定制样式
//=====================================================================
.conbox{
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.bc{
    border-color: #d3e0e9;
}
.conbox-head{
    text-align: left;
    padding: .5rem 1rem;
    border-bottom: 1px solid #d3e0e9;
    white-space:nowrap;
    > .icon{
        display: inline-block;
        font-size: 2rem;
    }
    > .title{
        display: inline-block;
        margin-bottom: 0;
        padding-left:.5rem;
    }
}
.conbox-body{
    @include clearfix();
    padding:1em 0;
    padding-top:0;
}
.conbox-foot{
    padding-bottom:1.25rem;
}
.conbox-topbg{
    height: 150px;
    background-size: cover;
    background-position: 50% 50%;
}
.conbox-downcon{
    min-height: 340px;
    padding:0 .5rem;
}
.down-a{
    display: inline;
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 4px solid #fff;
    border-radius: 100%;
    background-color:#50aff0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.footer-sns{
    display: table-cell;
    vertical-align: top;
    white-space:nowrap;
    a{
        display: inline-block;
        color:rgba(255, 255, 255, 0.8);
        padding-right:3px;
        &:hover{
            text-decoration:none;
            color: #fff;
        }
        & .icon{
            font-size: 20px;
        }
    }
}
.footer-exp{
    display: table-cell;
    padding-top:1.5rem;
    padding-left:.5rem;
}

.article{
    padding:0 .5rem;
}
.caption{
    padding:0 .5rem;
}
.hf-nav{
    font-size: .8rem;
    position:absolute;
    text-align: right;
    right:.5rem;
    bottom:.1rem;
}
