@charset "UTF-8";
//=====================================================================
//公共样式
//=====================================================================
.remove-padding { padding-bottom: 0; }
.remove-border { border: none; }
.sm-padding{padding:.5rem;}
.lg-margin-top{margin-top:2.5rem;}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
